<header>
  <div class="header pure-g">
    <h1 class="h1 pure-u-1 pure-u-md-1-3"><%= link_to "Blog title", root_path %></h1>
    <ul class="pure-u-1 pure-u-md-2-3">
    	<li class="contact"><a href="">Contact</a></li>
    </ul>
  </div>
</header>