<aside>
  <div class="side">
	  <div class="search">
	  	<form action="" class="pure-form">
		  	<input type="text" placeholder="検索">
		  	<button type="submit" class="pure-button">Search</button>
	  	</form>
	  </div>
	  <div class="box">
	  	<h3>Category</h3>
	    <ul>
		  	<% @articles_category.each do |c| %>
	      <li><%= link_to c, category_path(c) %></li>
	      <% end %>
	    </ul>
	  </div>
	  <div class="box">
	  	<h3>Tag</h3>
	    <div class="tag_cloud">
	    <%# tagに関してはstatusは見ていない。ので、1つだけの場合にstatusがdraftだったら非表示  %>
			<% tag_cloud Article.tag_counts, %W[s m l] do |t,css_class| %>
				<% if t.count > 1 %>
					<%= link_to t.name, tag_path(t.name), class: css_class %>
				<% end %>
			<% end %>
	    </div>
	  </div>
	  <div class="box">
	  	<h3>Related Posts</h3>
	    <ul>
	    
	    </ul>
	  </div>
  </div>
</aside>