<%= render 'articles/header' %>
<section>
  <div class="contents contact pure-g">
    <div class="pure-u-1">
    	<p>お問い合わせを承りました。ありがとうございました。</p>
    </div>
  </div>
</section>
<%= render 'articles/footer' %>
