<%= render 'articles/header' %>
<!-- Page Content -->
<div class="container">
	<section>
	  <div class="contents contact row">
	    <div class="col-md-12">
	    	<p>お問い合わせを承りました。ありがとうございました。</p>
	    </div>
	  </div>
	</section>
<hr>
<%= render 'articles/footer' %>
</div>
<!-- /.container -->
