<strong>お問い合わせ</strong>

<p>
  <%= @greeting %>
</p>
<div>--------------------------</div>
<p>Name: <%= @contact.name %></p>
<p>Email: <%= @contact.email %></p>
<p>Message: <%= @contact.message %></p>
<div>--------------------------</div>
