// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$basemargin: 8px;

.pagination{
	text-align: center;
	padding-bottom: 8px;
	.first,.prev,.next,.last{
		display: none;
	}
	.page {
		display: inline;
	}
	.page a {
		display: -moz-inline-box;
		display: inline-block;
		padding: 4px 8px;
    border: 1px solid #ccc;
    color: #333;
    border-radius: 20px;
    width: 20px;
	}
	.page a:hover {
		border: 1px solid #464646;
		background: #464646;
		color: #fff;
	}
}

.sns_btn{
	overflow: hidden;
	list-style: none;
	margin-right: -$basemargin;
	li{
		float: left;
		margin-right: $basemargin;
	}
}

.tag_cloud{
	line-height:1.6;
	.s{ font-size:60%}
	.m{ font-size:80%}
	.l{ font-size:100%}
}

@media only screen and (max-width: 768px) {

	.sns_btn {
	  padding-left: 0;
	}

	.pagination{
		.page {
			margin: 0 8px;
		}
	}
	
}
