// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$basebgcolor: #e5e5e5;
$basemargin: 8px;
$baselinkcolor : #464646;
$sidelinkcolor: #429e99;
$basefontsize : 120%;

body{
	background:white;
	font-size: $basefontsize;
}

.header{
	margin: 0 $basemargin*6;
	padding: 0 0 $basemargin;
	border-bottom: 1px solid $basebgcolor;
	a {
		text-decoration:none;
		color: $baselinkcolor;
	}
	ul{
		text-align:right;
	}
	ul li {
		display: inline;
	}
	li.contact a {
		background: #333;
		color: #fff;
		padding: $basemargin $basemargin*2;
		margin-left: $basemargin;
		&:hover{
			opacity:0.7;
		}
		}
}

.contents{
	margin: $basemargin*2 $basemargin*4;
	h2{
		margin:$basemargin/2 0;
	}
	.option{
		font-size:80%;
		a{
			color: $sidelinkcolor;
			text-decoration:underline;
		}
	}
	.photo{
		margin: $basemargin auto;
		img {
			width: 100%;
		}
	}
	.text{
		color: #666;
	}
}

.postslist {
	background: white;
	box-shadow: 1px 1px 1px #ccc;
	font-size: 150%;
	a {
		color: $baselinkcolor;
		text-decoration:none;
	}
	h2{
		text-shadow: -1px -1px 0px #eee;
	}
	.btn{
		margin:$basemargin*2 0;
		clear:both;
		button{
			border:none;
			background:#eee;
			color:#333;
			font-size:80%;
		}
	}
}

.post{
	padding: 0 $basemargin*2;
	color: #333;
	.box{
		margin: $basemargin 0;
	}
	.option{
		strong{
			font-weight: normal;
		}
		span{
			margin: $basemargin;
		}
	}
}

.sidenavi {
	font-size: 150%;
	.search {
		margin: $basemargin 0 $basemargin*3;
		height: $basemargin*4;
		input {
			margin-right: 6px;
			width: 100%;
		}
		button{
			//float: right;
			position: absolute;
			top: 6px;
			right: 14px;
		}
	}
	 .box {
	 	margin-bottom:$basemargin*3;
		padding: $basemargin $basemargin*2;
		background: $baselinkcolor;
		color: white;
		box-shadow: 1px 1px 4px #999;
	}

	h3 {
		margin: $basemargin/2 0;
	}
	ul{
		padding:0 $basemargin*2;
	}
	a{
		color:$sidelinkcolor;
	}
}
 
.footer{
	background: #efefef;
	padding: $basemargin*2 $basemargin*6;
}

.field_with_errors {
	float: left;
	overflow: hidden;
}

.tag_cloud{
	line-height:1.6;
	.s{ font-size:60%}
	.m{ font-size:80%}
	.l{ font-size:100%}
}

.dev{
	margin: 0 auto;
	width: 90%;
	strong {
		font-size: 200%;
	}
	table {
		font-size: 150%;
		border: 1px solid #eee;
	}
}


@media only screen and (max-width: 768px) {
	.header {
			margin:0 auto;
			text-align: center;
		}
	.postslist {
		margin-bottom: $basemargin*3;
		box-shadow: 0px 1px 0px #ccc;
	}
	.sidenavi .search button {
		top: -1px;
	}
}








