// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$basebgcolor: #e5e5e5;
$basemargin: 8px;
$baselinkcolor : #464646;
$sidelinkcolor: #429e99;
$basefontsize : 120%;
$basetextcolor : #333;

@mixin opacity($opacity) {
     opacity: $opacity;
     $opacityIE: $opacity * 100;
     filter: alpha(opacity=$opacityIE);
}

@mixin btn($bg,$color){
	background: $bg;
	color: $color;
	padding: $basemargin*2;
	border-radius: $basemargin;
	&:hover{
		@include opacity(0.7);
	}
}

body{
	background:white;
	font-size: $basefontsize;
}

.header{
	margin: 0 $basemargin*6;
	padding: 0 0 $basemargin;
	border-bottom: 1px solid $basebgcolor;
	.h1{
		margin: $basemargin 0;
	}
	a {
		text-decoration:none;
		color: $baselinkcolor;
	}

	ul{
		margin: 0;
		padding: 0;
		text-align:right;
		li {
			padding: 0;
			list-style: none;
			height: 58px;
		}
		li.contact a {
			position: absolute;
			top: 56px;
		  right: 5%;
		  @include btn(#464646,#fff);
			padding: $basemargin $basemargin*2;
		}
	}
}

.contents{
	margin: $basemargin*2 auto;
	width: 95%;
	h2{
		margin:$basemargin/2 0;
	}
	.option{
		font-size:80%;
		a{
			color: $sidelinkcolor;
			text-decoration:underline;
		}
	}
	.photo{
		margin: $basemargin auto;
		img {
			width: 100%;
		}
	}
	.text{
		color: #666;
	}
}

.postslist {
	background: #fff;
	box-shadow: 1px 1px 1px #ccc;
	a {
		color: $baselinkcolor;
		text-decoration:none;
	}
	h2{
		text-shadow: -1px -1px 0px #eee;
	}
}

.post{
	margin-bottom: $basemargin*4;
	padding: 0 $basemargin*2;
	color: $basetextcolor;
	.box{
		margin: $basemargin 0;
	}
	.option{
		strong{
			font-weight: normal;
		}
		span{
			margin: $basemargin;
		}
	}
}

.sidenavi {
	.side {
	  width: 95%;
	  float: right;
		.search {
			position: relative;
			margin: $basemargin 0 $basemargin*3;
			height: $basemargin*6;
			input {
				margin-right: 6px;
				width: 95%;
			}
			button{
				position: absolute;
				right: 0;
				height: 51px;
			}
		}
		 .box {
		 	margin-bottom:$basemargin*3;
			padding: $basemargin $basemargin*2;
			background: $baselinkcolor;
			color: white;
			box-shadow: 1px 1px 4px #999;
		}
		h3 {
			margin: $basemargin/2 0;
		}
		ul{
			padding:0 $basemargin*2;
		}
		a{
			color:$sidelinkcolor;
		}
	}
}
 
.footer{
	background: #efefef;
	padding: $basemargin*2 $basemargin*6;
}

.tag_cloud{
	line-height:1.6;
	.s{ font-size:60%}
	.m{ font-size:80%}
	.l{ font-size:100%}
}

.dev{
	margin: 0 auto;
	width: 95%;
	strong {
		font-size: 150%;
	}
}


@media only screen and (max-width: 768px) {
	.header {
		margin:0 auto;
		text-align: center;
		ul{
			li.contact a {
				top: 80px;
			}
		}
	}
	.postslist {
		margin-bottom: $basemargin*3;
		box-shadow: 0px 1px 0px #ccc;
	}
	.sidenavi .search button {
		top: -14px;
	}
}








